.background
  fill #2C3E50

text
  fill #FFF
  font-family "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  letter-spacing .25em
  text-anchor middle

.h2
  font-size 5rem

.h1
  font-size 10rem

.badge
  text
    font-size 1.5rem

  .ribbon
    fill #c0392b

  line
    stroke darken(#c0392b, 15%)
    stroke-width 2
